---
layout: default
---


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="darkgreyt center separador esquinas">
<h1>
	<a href="{{ post.url }}">{{ post.title }}</a>
</h1>
{% assign foundImage = 0 %}
      {% assign images = post.content | split:"<img " %}
      {% for image in images %}
        {% if image contains 'src' %}

            {% if foundImage == 0 %}
                {% assign html = image | split:"/>" | first %}
                <center><img {{ html }} width="80%" /></center><br>
                {% assign foundImage = 1 %}
            {% endif %}
        {% endif %}
      {% endfor %}
	<span class="blackt">{{ post.date }}</span>
</p>
<div class="content"> {{ post.content | markdownify | strip_html | truncatewords: 50 }} </div>
</div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-angle-double-left"></i> Anterior </a>
	{% else %}
	<span class="previous"><i class="fa fa-angle-double-left"></i> Anterior</span>
	{% endif %}
	<span class="page_number "> Page: {{ paginator.page }} of {{ paginator.total_pages }} </span>
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="next">Siguiente <i class="fa fa-angle-double-right"></i></a>
	{% else %}
	<span class="next ">Siguiente Siguiente <i class="fa fa-angle-double-right"></i></span>
{% endif %}
</div>