---
layout: default
---

{% include galheader.html %}
{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
    <h1>{{ gallery.description }}</h1>
    
    {% for image in gallery.images %}
    
        <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
          <img src="{{ gallery.imagefolder }}/{{ image.thumb }}" width="200px" height="auto">
        </a>
    
    {% endfor %}
    
  {% endif %}
{% endfor %}